@use "../utils/box";
@use "../utils/text";

.container.dashboard {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  @include box.margin(0);
  @include box.padding(0.5, 0.5, 2, 0.5);

  .wrapper {
    display: flex;
    flex: 1 0 33.333%;
    max-width: 33.333%;
    
    .panel {
      flex: 1;
      @include box.margin(0.5);

      .left {
        flex: 1;
        display: flex;
        overflow: auto;
        flex-direction: column;
        justify-content: space-between;
        .top {
          display: flex;
          align-items: center;

          .year {
            font-size: 2.5rem;
            line-height: 2.5rem;
          }

          .trend {
            display: flex;
            margin-left: 0.5rem;
            
            svg {
              width: 24px;
              height: 24px;
            }
          }
        }

        .value {
          font-size: 1.2rem;
          margin-top: 0.5rem;
          line-height: 1.2rem;
        }

        .label {
          font-size: 0.75rem;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      .right {
        flex: 1;
        overflow: auto;
        position: relative;
      }
    }

    &:first-child {
      flex: 1 0 100%;
      max-width: 100%;

      .panel {
        border: none;
        box-shadow: none;
        justify-content: center;
        @include box.padding(1, 2);
        background-color: transparent;

        .left {
          flex: none;
          flex-wrap: wrap;
          text-align: right;
          flex-direction: row;
          @include box.margin(1);
          max-width: 30rem;

          &>div {
            display: flex;
            flex: 1 0 50%;
            max-width: 50%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @include box.padding(0.5, 0);
            outline: 1px dashed lighten(#71768B, 45);
          }

          .top {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .year {
              font-size: 4rem;
              line-height: 4rem;
            }

            .trend {
              svg {
                width: 38px;
                height: 38px;
              }
            }
          }

          .value {
            font-size: 2.5rem;
            margin-top: 0rem;
            line-height: 2.5rem;
          }
  
          .label {
            font-size: 1rem;
            font-weight: bold;
            line-height: 1rem;
            text-transform: uppercase;
            @include box.margin(0.3, 0, 0);
          }
        }

        .right {
          flex: none;
          display: flex;
          text-align: left;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .container.dashboard {
    .wrapper {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 650px) {
  .container.dashboard {
    .wrapper {
      flex: 1 0 50%;
      max-width: 50%;
    }
  }
}

@media screen and (min-width: 950px) {
  .container.dashboard {
    .wrapper {
      flex: 1 0 33.333%;
      max-width: 33.333%;
    }
  }
}

@media screen and (min-width: 1500px) {
  .container.dashboard {
    .wrapper {
      flex: 1 0 25%;
      max-width: 25%;
    }
  }
}

