@use "../utils/box";
@use "../utils/theme";

.header {
  z-index: 1;
  display: flex;
  @include box.padding(0, 1.5);

  .wrapper {
    flex: 1;
    display: flex;

    h1 {
      flex: 1;
    }
  }
}

@include theme.apply(".header") using ($mode) {
  box-shadow: theme.shadow($mode);
  color: theme.color("color", $mode);
  background-color: theme.color("surface", $mode);
}
