@use "../utils/box";
@use "../utils/text";
@use "../utils/theme";

.menu {
  display: flex;
  align-items: stretch;
  @include text.size("md");

  li {
    display: flex;
    align-items: center;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    @include box.margin(0, 2, 0, 0);
    border-bottom-color: transparent;

    a {
      display: flex;
      margin-top: 3px;
      align-items: center;
      text-align: center;
      text-decoration: none;
    }
  }

  li:last-child {
    @include box.margin(0);
  }
}

@include theme.apply(".menu") using ($mode) {
  background-color: theme.color("surface", $mode);
  a {
    color: theme.color("muted", $mode);
  }
  a:hover {
    color: theme.color("primary", $mode);
  }
  li.active {
    border-bottom-color: theme.color("color", $mode);
    a {
      font-weight: bold;
      color: theme.color("color", $mode);
    }
  }
}
