@use "../utils/box";
@use "../utils/theme";

.menu {
  display: flex;
  @include box.padding(0, 1.5);

  a {
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    @include box.padding(0, 0, 0.5);
    @include box.margin(0, 2, 0, 0);
    border-bottom-color: transparent;
  }
}

@include theme.apply(".menu") using ($mode) {
  box-shadow: theme.shadow($mode);
  background-color: theme.color("surface", $mode);
  a {
    color: theme.color("muted", $mode);
  }
  a:hover {
    color: theme.color("primary", $mode);
  }
  li.active {
    a {
      font-weight: bold;
      color: theme.color("color", $mode);
      border-bottom-color: theme.color("color", $mode);
    }
  }
}
