@use "../utils/box";
@use "../utils/theme";

.switch {
  display: flex;
  cursor: pointer;
}

@include theme.apply(".switch") using ($mode) {
  color: theme.color("muted", $mode);
}

@include theme.apply(".switch:hover") using ($mode) {
  color: theme.color("primary", $mode);
}
