.git
.gitignore
.github
.claude
.dockerignore
Dockerfile
node_modules
.next
__tests__
jest
jest.config.js
*.test.js
*.test.ts
*.test.tsx
.eslintrc.js
.prettierrc.js
.releaserc.json
.stylelintrc.json
lighthouserc.json
sonar-project.properties
sentry.properties
CHANGELOG.md
README.md
LICENSE
.env*
